.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 120px;
  color: white;
}
.nav-logo {
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 90px;
}
.nav-menu li {
  cursor: pointer;
}
.nav-contact {
  border-radius: 50px;
  padding: 10px 38px;
  background: #fff;
  color: #262626;
}

/*MOBILE*/

@media screen and (max-width: 1280px) {
  .nav {
    margin: 20px 120px;
  }
  .nav-logo {
    font-size: 36px;
    font-weight: 400;
  }
  .nav-menu {
    font-size: 16px;
    gap: 60px;
  }

  .nav-contact {
    padding: 10px 32px;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    margin: 20px 100px;
  }
  .nav-logo {
    font-size: 30px;
    font-weight: 300;
  }
  .nav-menu {
    font-size: 14px;
    gap: 30px;
  }

  .nav-contact {
    padding: 8px 28px;
  }
}
@media screen and (max-width: 769px) {
  .nav {
    margin: 20px 80px;
  }
  .nav-logo {
    font-size: 22px;
    font-weight: 300;
  }
  .nav-menu {
    font-size: 12px;
    gap: 16px;
  }

  .nav-contact {
    padding: 6px 22px;
  }
}
@media screen and (max-width: 641px) {
  .nav {
    margin: 20px 20px;
  }
  .nav-logo {
    font-size: 22px;
    font-weight: 300;
  }
  .nav-menu {
    font-size: 12px;
    gap: 22px;
  }

  .nav-contact {
    padding: 6px 10px;
  }
}
@media screen and (max-width: 376px) {
  .nav {
    margin: 10px 10px;
  }
  .nav-logo {
    font-size: 14px;
    font-weight: 400;
  }
  .nav-menu {
    font-size: 10px;
    gap: 8px;
  }

  .nav-contact {
    padding: 6px 20px;
  }
}
